<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <h1>{{ name | uppercase }}</h1>
<h1>{{ value | number }}</h1>
<h1>{{ obj | json }}</h1>

<button
  pButton
  type="button"
  class="p-button-help"
  label="Change name"
  (onClick)="showName()"
  icon="pi pi-check"
  iconPos="right"
></button>

<p-card [header]="name | titlecase"
        subheader="This is a subheader">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
  consequuntur error repudiandae numquam deserunt quisquam repellat libero
  asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
  neque quas!
</p-card> -->
